#about {
  .container {
    .section-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-block: 20px 10px;
      @media (min-width: 1024px) {
        flex-direction: row;
        padding-block: 0;
        align-items: center;
        gap: 2rem;
      }
      > div:nth-child(1) {
        flex: 1;
        .img-container {
          border-radius: 30px;
          width: 65vw;
          overflow: hidden;
          margin-inline: auto;
          @media (width < 1024px) {
            max-width: 250px;
          }
          @media (width >= 1024px) {
            width: 30vw;
          }
        }
      }
      > div:nth-child(2) {
        flex: 2;

        .boxes {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 30px;

          @media (min-width: 1024px) {
            margin-top: 0;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            > * {
              flex: 1;
            }
          }
          .box {
            text-align: center;
            border: 1px solid var(--black-clr);
            border-radius: 20px;
            padding: 20px;
            @media (max-width: 1024px) {
              width: 80%;
              margin-inline: auto;
            }
          }
        }
        .text {
          text-align: center;
        }
      }
    }
  }
}
