#contact {
  min-height: calc(100vh - 80px) !important;
  .container {
    .section-body {
      > div:nth-child(1) {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;

        @media (min-width: 700px) {
          /* flex-direction: row;
          align-items: center; */
          justify-content: center;
        }
        .form {
          padding: 30px;
          width: 100%;
          max-width: 450px;
          border-radius: 12px;
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          margin-inline: auto;

          h2 {
            font-weight: 500;
            margin-bottom: 20px;
            text-align: center;
            font-size: 24px;
            color: var(--black-clr);
          }
          form {
            .form-group {
              margin-bottom: 15px;
            }
            label {
              display: block;
              margin-bottom: 6px;
              color: var(--black-clr);
              font-size: 14px;
            }
            input,
            textarea {
              width: 100%;
              padding: 12px;
              border: 1px solid #ccc;
              border-radius: 8px;
              font-size: 15px;
              transition: 0.3s;
            }

            input:focus,
            textarea:focus {
              border-color: var(--primary-clr);
              outline: none;
              box-shadow: 0px 0px 3px rgba(0, 123, 255, 0.5);
            }
            textarea {
              height: 120px;
              resize: none;
            }
            button {
              width: 100%;
              padding: 12px;
              background: var(--primary-clr);
              border: none;
              color: white;
              font-size: 16px;
              border-radius: 8px;
              cursor: pointer;
              transition: 0.3s;
            }
            button:hover {
              background: #cc9d01;
            }
          }
        }
        .icons {
          border-radius: 20px;
          padding: 20px;
          display: flex;
          gap: 3rem;
          width: fit-content;
          margin-inline: auto;

          .icon {
            text-align: center;

            a {
              display: inline-flex;
              align-items: center;
              transition: 0.3s ease-in-out;

              &:hover {
                color: var(--primary-clr);
              }
            }
            i {
              display: inline-block;
              margin-right: 5px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
