@import url("../global/global.css");

#header {
  position: sticky;
  top: 0;
  background-color: var(--white-clr);
  z-index: 5;
  &.on-scroll {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  }
  .mb-menu-container {
    grid-column: 1/-1;
    position: relative;
  }
  .container {
    display: flex;
    align-items: center;
    padding-block: 20px;

    > div {
      flex: 1;
    }
    .logo-container {
      .logo {
        color: var(--primary-clr);
        font-weight: 600;
        font-size: 24px;
      }
    }
    .nav-container {
      nav {
        display: none;
        ul {
          li {
            text-align: center;

            a {
              font-weight: 500;

              &:hover,
              &.active {
                text-decoration: underline;
                text-underline-offset: 10px;
                text-decoration-thickness: 3px;
                text-decoration-color: var(--primary-clr);
              }
            }
          }
        }
        .mode-container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          transition: 0.3s ease-in-out;

          i {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            cursor: pointer;
            color: var(--black-clr);

            &:hover {
              opacity: 0.6;
            }
          }
        }
        &.show {
          display: block;
          position: absolute;
          top: 100%;
          right: 0;
          width: 70%;
          background-color: var(--white-clr);
          padding-block: 20px;
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 4px 6px rgba(0, 0, 0, 0.08);
          ul {
            li {
              margin-bottom: 30px;
            }
          }
        }
        @media (min-width: 700px) {
          display: flex;
          justify-content: end;
          gap: 20px;

          ul {
            display: flex;
            gap: 20px;
          }
          .mode-container {
            justify-content: end;

            i {
              font-size: 20px;
            }
          }
        }
      }
    }
    .hamburger-container {
      display: flex;
      align-items: center;
      justify-content: end;

      @media (min-width: 700px) {
        display: none;
      }

      i {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 18px;
        color: var(--black-clr);
      }
    }
  }
}
