/* poppins-200 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/poppins-v23-latin-200.woff2") format("woff2");
}

/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v23-latin-300.woff2") format("woff2");
}

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/poppins-v23-latin-200.woff2") format("woff2");
}

/* poppins-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/poppins-v23-latin-500.woff2") format("woff2");
}

/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/poppins-v23-latin-600.woff2") format("woff2");
}

/* poppins-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/poppins-v23-latin-700.woff2") format("woff2");
}

/* poppins-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/poppins-v23-latin-800.woff2") format("woff2");
}

/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/poppins-v23-latin-900.woff2") format("woff2");
}
