@import url("./global/global.css");

/* Componets */
@import url("./componets/header.css");
@import url("./componets/hero.css");
@import url("./componets/about.css");
@import url("./componets/profile.css");
@import url("./componets/projects.css");
@import url("./componets/contact.css");
@import url("./componets/footer.css");
